{% extends 'base.html' %}

{% block content %} 
<div class="container">
    <div class="row">
        <div class="col-md-3 mr-6 detail-image mr-6">
            <img src="{{instance.image.url}}" width="300px" height="300px" alt="">
        </div>
        <div class="col-md-6 mt-5 ml-5">
            <h1>{{ instance.name }}</h1>
            <p>{{instance.description}}</p>
            <p>{{instance.year}}</p>
            <a href="{% url 'movie:update' instance.id %}" class="btn btn-success">Edit</a>
            <a href="{% url 'movie:delete' instance.id %}" class="btn btn-danger">Delete</a>
        </div>
    </div>
</div>
{% endblock %}
                                                       